<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key ="CardTop" value=".------."/>
		<add key ="CardBottom" value="`------'"/>
		<add key ="CardLeft" value="|  "/>
		<add key ="CardRight" value="   |"/>
		<add key="CardBase" value="| '--' |"/>
		<add key="ClubTop" value="| :(): |"/>
		<add key="ClubBottom" value="| ()() |"/>
		<add key="HeartTop" value="| (\/) |"/>
		<add key="HeartBottom" value="| :\/: |"/>
		<add key="SpadeTop" value="| :/\: |"/>
		<add key="SpadeBottom" value="| (__) "/>
		<add key="DiamondTop" value="| :/\: |"/>
		<add key="DiamondBottom" value="| :\/: |"/>
	</appSettings>
</configuration>